html {
  margin: 0;
  box-sizing: border-box;
  display: block;
}

/* Common */

.add-att {
  background-color: #eee;
  margin: 8px;
}

#main {
  background-color: blue;
}

.container {
  flex-wrap: nowrap;
  justify-content: center;
  margin: 8px;
  padding: 8px 8px 8px 0px;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
}

.container h3 {
  color: blue;
  border-bottom: 1px solid #ccc;
  padding: 12px 12px 12px 0;
}

.goal-item,
.member,
.prim-item,
.timeline-item {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.member i,
.prim-item i {
  font-size: 24px;
  padding: 0 18px;
  margin-bottom: 16px;
}

/* Begin the Goal CSS */
.goal-list {
  margin-bottom: 32px;
}

.goal-item {
  border-bottom: 1px solid #ddd;
}
.goal-item i {
  font-size: 32px;
  padding: 0 24px;
}
/* End the Goal CSS */

.mem-detail {
  min-width: 70%;
}

.serial {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25%;
  height: 67.17px;
  margin-bottom: 16px;
}

.serial span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(167, 133, 201);
  border-radius: 50%;
  border: 1px solid #000;
  color: #fff;
  width: 40px;
  height: 40px;
}

.timeline-detail {
  min-width: 70%;
  border-bottom: 2px dotted #bbb;
}

.scopes h4 {
  text-transform: uppercase;
  font-weight: 700;
}

/* CCS for icon ti-help */
.prim-item i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #000;
  color: #fff;
  margin: 0 18px;
}
